<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neshto</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <link rel="stylesheet" type="text/css" href="../static/site-header.css">
    <link rel="stylesheet" type="text/css" href="../static/site-footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
 </head>

<body>
    <header>
        <nav class="navbar" id="navbar">
            <div>
                <a class="logo"href="neshto.html">
                    <img class="primary-icon" src="../images/dialp_plast_logo.png" alt="dialplastpleven">
                </a> 
            </div>
                <ul class="nav-list" id="navi-list">
                    <li class="list-item">
                        <a class="option" href="#" >Начало</a>
                    </li>
                    <li class="list-item">
                        <a class="option" href="#" >Услуги</a>
                    </li>
                    <li class="list-item">
                        <a class="option" href="#" >Галерия</a>
                    </li>
                    <li class="list-item">
                        <a class="option" href="#" >За нас</a>
                    </li>
                    <li class="list-item">
                        <a class="option" href="#" >Контакти</a>
                    </li>
                </ul>
            <div class="menu" id="toggle-button">
                <div class="menu-line"></div>
                <div class="menu-line"></div>
                <div class="menu-line"></div>
            </div>
            
        </nav>
    </header>
    <div class="content">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ullam magni fuga iusto culpa ea enim est eaque illo deleniti ratione laborum eum impedit alias reprehenderit, vero necessitatibus assumenda maxime.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ullam magni fuga iusto culpa ea enim est eaque illo deleniti ratione laborum eum impedit alias reprehenderit, vero necessitatibus assumenda maxime.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ullam magni fuga iusto culpa ea enim est eaque illo deleniti ratione laborum eum impedit alias reprehenderit, vero necessitatibus assumenda maxime.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ullam magni fuga iusto culpa ea enim est eaque illo deleniti ratione laborum eum impedit alias reprehenderit, vero necessitatibus assumenda maxime.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ullam magni <br> fuga iusto culpa ea enim est eaque illo deleniti ratione laborum eum impedit alias reprehenderit, vero necessitatibus assumenda maxime.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ullam magni <br> fuga iusto culpa ea enim est eaque illo deleniti ratione laborum eum impedit alias reprehenderit, vero necessitatibus assumenda maxime.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ullam magni <br> fuga iusto culpa ea enim est eaque illo deleniti ratione laborum eum impedit alias reprehenderit, vero necessitatibus assumenda maxime.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ullam magni <br> fuga iusto culpa ea enim est eaque illo deleniti ratione laborum eum impedit alias reprehenderit, vero necessitatibus assumenda maxime.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ullam magni <br> fuga iusto culpa ea enim est eaque illo deleniti ratione laborum eum impedit alias reprehenderit, vero necessitatibus assumenda maxime.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ullam magni <br> fuga iusto culpa ea enim est eaque illo deleniti ratione laborum eum impedit alias reprehenderit, vero necessitatibus assumenda maxime.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ullam magni <br> fuga iusto culpa ea enim est eaque illo deleniti ratione laborum eum impedit alias reprehenderit, vero necessitatibus assumenda maxime.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ullam magni <br> fuga iusto culpa ea enim est eaque illo deleniti ratione laborum eum impedit alias reprehenderit, vero necessitatibus assumenda maxime.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ullam magni fuga iusto culpa ea enim est eaque illo deleniti ratione laborum eum impedit alias reprehenderit, vero necessitatibus assumenda maxime.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ullam magni fuga iusto culpa ea enim est eaque illo deleniti ratione laborum eum impedit alias reprehenderit, vero necessitatibus assumenda maxime.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ullam magni fuga iusto culpa ea enim est eaque illo deleniti ratione laborum eum impedit alias reprehenderit, vero necessitatibus assumenda maxime.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ullam magni fuga iusto culpa ea enim est eaque illo deleniti ratione laborum eum impedit alias reprehenderit, vero necessitatibus assumenda maxime.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ullam magni fuga iusto culpa ea enim est eaque illo deleniti ratione laborum eum impedit alias reprehenderit, vero necessitatibus assumenda maxime.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ullam magni fuga iusto culpa ea enim est eaque illo deleniti ratione laborum eum impedit alias reprehenderit, vero necessitatibus assumenda maxime.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ullam magni fuga iusto culpa ea enim est eaque illo deleniti ratione laborum eum impedit alias reprehenderit, vero necessitatibus assumenda maxime.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ullam magni fuga iusto culpa ea enim est eaque illo deleniti ratione laborum eum impedit alias reprehenderit, vero necessitatibus assumenda maxime.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ullam magni fuga iusto culpa ea enim est eaque illo deleniti ratione laborum eum impedit alias reprehenderit, vero necessitatibus assumenda maxime.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ullam magni fuga iusto culpa ea enim est eaque illo deleniti ratione laborum eum impedit alias reprehenderit, vero necessitatibus assumenda maxime.
            
        </p>
    </div>
    <footer class="footer">
        <nav class="footer-nav">
         <ul class="footer-list">
             <li class="footer-list-item">
                 <h1> <i class="fa fa-phone"></i> 064 806 851; 0879 581 691; 0899 159 657</h1>
             </li>
             <li class="footer-list-item">
                 <h1> <i class="fa fa-location-arrow"></i> ул. "Цар Борис III", №97, Плевен </h1>
             </li>
             <li class="footer-list-item">
                 <h1> <i class="fa fa-clock-o"></i> Пон. – Петък 10:00 – 18:00;</h1>
             </li>
         </ul>
        </nav>
         <div class="social">
            <a href="dialplastpleven@gmail.com">
                <i class="fa fa-google"></i>
            </a>
            <a href="https://www.facebook.com/dialplast/">
                <i class="fa fa-facebook-square"></i>
            </a>
         </div>
         <p class="footer-p">Фирма “Диал Пласт” е създадена през 2005 година в град Плевен. Основната дейност на фирмата е производство и монтаж <br> на дограма – врати и прозорци от PVC и алуминиеви профили. Разполагаме със собствена производствена база, което води <br> до бърза и качествена изработка на продуктите, както и до по-ниска крайна цена.</p>
    </footer>
    
    
    <script type="text/javascript" src="../static/script.js"></script>    
</body>

</html>