.navbar{
    background-image: url("../images/parket.png");
    color: black;
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}
.option:hover{
    color: rgba(0, 115, 230, 0.925);
    border-color: rgba(0, 115, 230, 0.925);
}
.list-item{
    display: inline-block;
}
.option{
    color: black;
    font-size: 25px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    padding: 3.2px 10px;
    text-decoration: none;
    border-bottom: 2.5px solid transparent;
    transition: all 0.3s ease; 
}
.primary-icon{
    height: 50px;
}
.menu{
    display: none;
}
.menu-line{
    width: 20px;
    height: 3px;
    background-color: black;
    margin-bottom: 4px;
}
@media screen and (max-width: 580px){
    .menu{
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .navbar{
        flex-direction: column;
        position: relative;
        width: 100%;
    }
    .list-item{
        color: black;
        text-decoration: none;
        font-size: 20px;
        display: block;
        border-top: 1px solid rgb(63, 61, 61);
    }
    .nav-list{
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        display: none;
    
    }

    .active{
        display: block;
    }

}