.footer{
    background-image: url("../images/parket.png");
    color: black;
    display: flex;
    position: absolute;
    font-size: 13px;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
}
.footer > * {
    width: 500px;
}
.footer-nav{
    padding-top: 5px;
    padding-bottom: 5px;
}
.footer-list{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.footer-list-item{
    padding-left: 20px;
}
.social{
    font-size: 1.3rem;
    justify-content: center;
    align-self: center;
}
i{
    color: black;
}


@media all and (max-width:580px){
    .footer{
        font-size: 12px;
        display: flex;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
           
    }
    .footer-nav{
        display: flex;
        list-style-type: none;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .footer-list-item{
        display: flex;
        padding-left: 6px;
    }
    .footer-p{
        display: none;
    }   
}